@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-roboto);
  line-height: 1;
  box-sizing: border-box;
  background-color: var(--color-white); }

.container {
  max-width: 114rem; }

.heading__primary {
  font-family: var(--font-cardo);
  font-size: 9.6rem;
  font-weight: 400;
  letter-spacing: -1px;
  color: #4c6ef5;
  animation: slideInLeft 0.5s ease-out; }

.heading__secondary {
  font-size: 5rem;
  letter-spacing: 1px;
  color: var(--color-black-dark);
  margin-top: -0.5rem;
  animation: slideInRight 0.5s ease-out; }

.margin-bottom-sm {
  margin-bottom: 2rem; }

.margin-bottom-md {
  margin-bottom: 4rem; }

.margin-bottom-lg {
  margin-bottom: 6rem; }

.margin-bottom-xl {
  margin-bottom: 8rem; }

:root {
  --font-cardo: "Cardo", serif;
  --font-roboto: "Roboto", sans-serif;
  --color-white: #edf1fe;
  --color-black-darkest: #080b18;
  --color-black-dark: #0f1631; }

.btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding: 1.6rem 2.4rem;
  color: var(--color-white);
  background-color: #4c6ef5;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  transition: background-color 0.5s, transform 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 3; }

.btn:hover {
  background-color: #5c7cfa;
  transform: translateY(-2px); }

.btn:active {
  transform: translateY(1px); }

.btn::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #4c6ef5;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  transition: all 0.3s;
  z-index: -1; }

.btn:hover::before {
  transform: scale(1.3);
  opacity: 0; }

.hero {
  margin-bottom: 10rem;
  padding: 15rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(45rem, max-content));
  column-gap: 8rem; }
  .hero__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .hero__text-box--para {
      font-size: 2rem;
      line-height: 1.2;
      color: var(--color-black-darkest);
      width: 75%;
      margin-top: 2rem; }
  .hero__btn {
    align-self: flex-start;
    animation: slideUp 0.5s ease-out; }
  .hero__img {
    width: 80%;
    justify-self: center; }
