@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-roboto);
  line-height: 1;
  box-sizing: border-box;
  transition: all 1s; }

body.light-theme {
  background-color: var(--background); }

body.dark-theme {
  background-color: var(--background); }

.heading__primary {
  font-family: var(--font-cardo);
  font-size: 9.6rem;
  font-weight: 400;
  letter-spacing: -1px;
  color: #4c6ef5;
  animation: slideInLeft 0.5s ease-out; }

.heading__secondary {
  font-size: 5rem;
  letter-spacing: 1px;
  color: var(--heading_secondary_color);
  margin-top: -0.5rem;
  animation: slideInRight 0.5s ease-out; }

.heading__tertiary {
  display: inline-block;
  font-size: 4.4rem;
  color: var(--text_color);
  font-weight: 100;
  letter-spacing: 1px;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  transition: all 0.5s; }
  .heading__tertiary:hover {
    border-bottom: 1px solid var(--text_color); }
  .heading__tertiary::first-letter {
    color: #4c6ef5;
    font-weight: 700; }

.margin-bottom-sm {
  margin-bottom: 2rem; }

.margin-bottom-md {
  margin-bottom: 4rem; }

.margin-bottom-lg {
  margin-bottom: 6rem; }

.margin-bottom-xl {
  margin-bottom: 8rem; }

.hidden {
  opacity: 0;
  transform: rotate(360deg); }

.container {
  max-width: 130rem;
  margin: 0 auto; }

:root {
  --font-cardo: "Cardo", serif;
  --font-roboto: "Roboto", sans-serif;
  --color-white: #edf1fe;
  --color-black-darkest: #080b18;
  --color-black-dark: #0f1631; }

.btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding: 1.6rem 2.4rem;
  color: var(--color-white);
  background-color: #4c6ef5;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  transition: background-color 0.5s, transform 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 3; }

.btn:hover {
  background-color: #5c7cfa;
  transform: translateY(-2px); }

.btn:active {
  transform: translateY(1px); }

.btn::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #4c6ef5;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  transition: all 0.3s;
  z-index: -1; }

.btn:hover::before {
  transform: scale(1.3);
  opacity: 0; }

.header {
  position: relative; }
  .header__link:link, .header__link:visited {
    display: inline-block; }
  .header__icon.sunny {
    box-shadow: 0 0rem 0.75rem rgba(0, 0, 0, 0.075); }
  .header__icon.moon {
    box-shadow: 0 0rem 0.75rem rgba(237, 241, 254, 0.618); }
  .header__icon.sunny, .header__icon.moon {
    transition: all 0.5s;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 4rem;
    height: 4rem;
    color: var(--text_color);
    margin: 2rem;
    border-radius: 50%;
    background-color: var(--background);
    padding: 1rem; }

.hero {
  padding: 15rem;
  padding-bottom: 5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(45rem, max-content));
  column-gap: 8rem; }
  .hero__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .hero__text-box--para {
      font-size: 2rem;
      line-height: 1.2;
      color: var(--text_color);
      width: 75%;
      margin-top: 2rem; }
  .hero__btn {
    align-self: flex-start;
    animation: slideUp 0.5s ease-out;
    margin-top: 3.2rem; }
  .hero__img {
    width: 80%;
    justify-self: center; }

.benefits {
  padding: 10rem; }
  .benefits__text-box {
    position: relative;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 6rem; }
    .benefits__text-box span {
      transition: all 600ms;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .benefits__text-box:hover span {
      transform: rotate(360deg); }
  .benefits__icon {
    width: 4rem;
    height: 4rem;
    color: var(--text_color); }
  .benefits__main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem; }
    .benefits__main-box--img {
      height: 50vh; }
    .benefits__main-box--text {
      display: inline-block;
      font-size: 5rem;
      font-weight: 100;
      color: var(--text_color);
      align-self: flex-end;
      margin-right: 20%;
      position: relative;
      z-index: 10;
      transition: all 0.5s; }
      .benefits__main-box--text::before {
        content: "";
        position: absolute;
        display: inline-block;
        top: -10%;
        left: -2%;
        height: 120%;
        width: 3%;
        background-color: #4c6ef5;
        transition: all 0.5s;
        z-index: -2; }
      .benefits__main-box--text:hover {
        color: #edf1ed;
        transform: translateY(-5px); }
      .benefits__main-box--text:hover::before {
        width: 105%;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }

.invert_img {
  filter: invert(1); }

.dark-theme {
  --background: var(--color-black-dark);
  --heading_primary_color: $color-primary;
  --heading_secondary_color: var(--color-white);
  --text_color: var(--color-white); }

.light-theme {
  --background: var(--color-white);
  --heading_primary_color: $color-primary;
  --heading_secondary_color: var(--color-black-dark);
  --text_color: var(--color-black-darkest); }
