@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(8rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-roboto);
  line-height: 1;
  box-sizing: border-box;
  transition: all 1s; }

body.light-theme {
  background-color: var(--background); }

body.dark-theme {
  background-color: var(--background); }

.heading__primary {
  font-family: var(--font-cardo);
  font-size: 9.6rem;
  font-weight: 400;
  letter-spacing: -1px;
  color: #4c6ef5;
  animation: slideInLeft 0.5s ease-out;
  border-bottom: 1px solid transparent;
  transition: all 0.5s; }
  .heading__primary--sign_up {
    font-size: 8rem;
    display: inline-block; }
    .heading__primary--sign_up:hover {
      border-bottom: 1px solid #4c6ef5; }
    .heading__primary--sign_up::first-letter {
      color: #4c6ef5;
      font-weight: 700; }

.heading__secondary {
  font-size: 5rem;
  letter-spacing: 1px;
  color: var(--heading_secondary_color);
  margin-top: -0.5rem;
  animation: slideInRight 0.5s ease-out; }

.heading__tertiary {
  display: inline-block;
  font-size: 4.4rem;
  color: var(--text_color);
  font-weight: 100;
  letter-spacing: 1px;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  transition: all 0.5s; }
  .heading__tertiary:hover {
    border-bottom: 1px solid var(--text_color); }
  .heading__tertiary::first-letter {
    color: #4c6ef5;
    font-weight: 700; }
  .heading__tertiary--footer {
    color: #edf1ed; }
    .heading__tertiary--footer::first-letter {
      color: currentColor; }
    .heading__tertiary--footer:hover {
      border-bottom-color: #edf1ed; }

.margin-bottom-sm {
  margin-bottom: 2rem; }

.margin-bottom-md {
  margin-bottom: 4rem; }

.margin-bottom-lg {
  margin-bottom: 6rem; }

.margin-bottom-xl {
  margin-bottom: 8rem; }

.hidden {
  opacity: 0;
  transform: rotate(360deg); }

.hidden_benefits {
  opacity: 0;
  transform: scale(0); }

.container {
  max-width: 130rem;
  margin: 0 auto; }

.background__scaleup {
  transform: scale(70) !important;
  z-index: 100; }

.hidden__para {
  display: none !important; }

.hide_overflow {
  overflow: hidden; }

.imp_benefit_link {
  z-index: 1000; }

:root {
  --font-cardo: "Cardo", serif;
  --font-roboto: "Roboto", sans-serif;
  --color-white: #edf1fe;
  --color-black-darkest: #080b18;
  --color-black-dark: #0f1631; }

.btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  padding: 1.6rem 2.4rem;
  color: var(--color-white);
  background-color: #4c6ef5;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  transition: background-color 0.5s, transform 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 3; }

.btn:hover {
  background-color: #5c7cfa;
  transform: translateY(-2px); }

.btn:active {
  transform: translateY(1px); }

.btn::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #4c6ef5;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  transition: all 0.3s;
  z-index: -1; }

.btn:hover::before {
  transform: scale(1.3);
  opacity: 0; }

.features {
  display: flex;
  gap: 4.8rem;
  text-align: center;
  padding-top: 8rem;
  margin-bottom: 8rem; }
  .features-icon {
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.6rem;
    margin-bottom: 2.6rem;
    border-radius: 50%;
    color: var(--text_color);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.5s; }
    .features-icon:hover {
      transform: translateY(-5px) scale(1.1); }
    .features-icon--local {
      background-color: #f03e3e; }
    .features-icon--business {
      background-color: #40c057; }
    .features-icon--sports {
      background-color: #22b8cf; }
    .features-icon--tech {
      background-color: #be4bdb; }
    .features-icon--celebrity {
      background-color: #fd7e14; }
  .features-title {
    margin-bottom: 1.6rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text_color); }
  .features-text {
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 400;
    color: var(--text_color); }

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__link:link, .header__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2.4rem;
    color: var(--text_color);
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
    letter-spacing: 0.75px; }
    .header__link:link:hover, .header__link:visited:hover {
      border-bottom: 1px solid var(--text_color); }
    .header__link:link::first-letter, .header__link:visited::first-letter {
      color: #4c6ef5;
      font-weight: 700; }
  .header__icon.sunny {
    box-shadow: 0 0rem 0.75rem rgba(0, 0, 0, 0.075); }
  .header__icon.moon {
    box-shadow: 0 0rem 0.75rem rgba(237, 241, 254, 0.618); }
  .header__icon.sunny, .header__icon.moon {
    transition: all 0.5s;
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    color: var(--text_color);
    margin: 2rem;
    border-radius: 50%;
    background-color: var(--background);
    padding: 1rem; }
  .header__img {
    height: 10rem; }
  .header__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 10rem; }

.hero {
  padding: 15rem;
  padding-bottom: 5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(45rem, max-content));
  column-gap: 8rem; }
  .hero__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .hero__text-box--para {
      font-size: 2rem;
      line-height: 1.2;
      color: var(--text_color);
      width: 75%;
      margin-top: 2rem; }
  .hero__btn {
    align-self: flex-start;
    animation: slideUp 0.5s ease-out;
    margin-top: 3.2rem; }
  .hero__img {
    width: 80%;
    justify-self: center; }

.benefits {
  padding: 10rem;
  margin-bottom: 10rem; }
  .benefits__text-box {
    position: relative;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 6rem; }
    .benefits__text-box span {
      transition: all 600ms;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .benefits__text-box:hover span {
      transform: rotate(360deg); }
  .benefits__icon {
    width: 4rem;
    height: 4rem;
    color: var(--text_color); }
  .benefits__main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: relative; }
    .benefits__main-box--img {
      height: 50vh; }
    .benefits__main-box--text--1, .benefits__main-box--text--2 {
      display: inline-block;
      font-size: 5rem;
      font-weight: 100;
      color: var(--text_color);
      position: relative;
      z-index: 10;
      transition: all 0.5s; }
      .benefits__main-box--text--1::before, .benefits__main-box--text--2::before {
        content: "";
        position: absolute;
        display: inline-block;
        top: -10%;
        left: -2%;
        height: 120%;
        width: 3%;
        background-color: #4c6ef5;
        transition: all 0.5s;
        z-index: -2; }
      .benefits__main-box--text--1:hover, .benefits__main-box--text--2:hover {
        color: #edf1ed;
        transform: translateY(-5px); }
      .benefits__main-box--text--1:hover::before, .benefits__main-box--text--2:hover::before {
        width: 105%;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); }
    .benefits__main-box--text--1 {
      align-self: flex-start;
      margin-left: 20%; }
    .benefits__main-box--text--2 {
      align-self: flex-end;
      margin-right: 20%; }
  .benefits__list {
    list-style: none;
    display: flex;
    gap: 4.4rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transition: all 0.5s; }
  .benefits__link {
    display: inline-block;
    position: relative; }
  .benefits__text:link, .benefits__text:visited {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; }
  .benefits__text {
    position: relative;
    padding: 2rem;
    border-radius: 10000px;
    background-color: #5172f5; }
    .benefits__text--icon {
      width: 3rem;
      height: 3rem;
      color: #edf1ed; }
  .benefits__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7rem;
    width: 7rem;
    background-image: radial-gradient(#4c6ef5, #5c7cfa);
    border-radius: 50%;
    transition: all 1s ease-in-out; }
  .benefits__para--1, .benefits__para--2, .benefits__para--3, .benefits__para--4, .benefits__para--5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12rem;
    font-weight: 900;
    letter-spacing: 0.75px;
    color: #edf1ed;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    z-index: 10000;
    text-align: center; }
    .benefits__para--1 span, .benefits__para--2 span, .benefits__para--3 span, .benefits__para--4 span, .benefits__para--5 span {
      font-size: 2.4rem;
      font-weight: 400;
      color: #edf1ed;
      line-height: 1.5; }

.invert_img {
  filter: invert(1); }

.show_benefits {
  bottom: -25%;
  left: 30%; }

.categories {
  padding: 10rem; }

.sign_up_now__main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9.6rem; }
  .sign_up_now__main-box--img {
    height: 50vh;
    margin-top: -8rem; }
  .sign_up_now__main-box--btn:link, .sign_up_now__main-box--btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 5.2rem;
    font-weight: 100;
    letter-spacing: 0.75px;
    background-image: linear-gradient(to right bottom, #4c6ef5, #5c7cfa);
    padding: 1.2rem 2rem;
    color: #edf1ed;
    border-radius: 11px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    transition: all 500ms; }
  .sign_up_now__main-box--btn:hover {
    transform: translateY(-2rem) scale(1.05); }
  .sign_up_now__main-box--btn:active {
    transform: translateY(5px); }

.footer {
  background-color: #4c6ef5;
  padding: 8rem; }
  .footer__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem; }
    .footer__text-box--text {
      font-size: 2.4rem;
      line-height: 1.6;
      width: 70vw;
      text-align: center;
      color: #edf1ed; }
  .footer__icon-box {
    display: flex;
    gap: 3.2rem; }
    .footer__icon-box--icon {
      width: 5rem;
      height: 5rem;
      color: #edf1ed;
      transition: all 0.5s; }
      .footer__icon-box--icon:hover {
        transform: scale(1.2) translateY(-2px); }
      .footer__icon-box--icon--1:hover {
        color: #f06529; }
      .footer__icon-box--icon--2:hover {
        color: #cd6799; }
      .footer__icon-box--icon--3:hover {
        color: yellow; }
      .footer__icon-box--icon--4:hover {
        color: #cc3534; }
      .footer__icon-box--icon--5:hover {
        color: #edf1ed; }
  .footer__final {
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .footer__final--img {
      height: 10vh; }

.sign_up {
  padding: 10rem; }
  .sign_up__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem; }
  .sign_up__para {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 100;
    color: var(--text_color);
    margin-bottom: 8rem; }
  .sign_up__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem; }
    .sign_up__form--field {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.2rem; }
    .sign_up__form--label {
      font-size: 2.4rem;
      font-weight: 700;
      color: var(--text_color); }
      .sign_up__form--label::first-letter {
        color: #4c6ef5;
        font-weight: 700; }
    .sign_up__form--input {
      font-family: inherit;
      font-size: 2rem;
      border: none;
      padding: 1.2rem 2.4rem;
      border-radius: 11px;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
      outline: none;
      color: #777; }
  .sign_up__button {
    border: none;
    color: transparent;
    background-color: transparent; }

.btn--submit:link,
.btn--submit:visited {
  padding: 1rem 6rem;
  margin-top: 3.2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05); }

.selection__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem; }
  .selection__form--field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; }
  .selection__form--select {
    font-family: inherit;
    font-size: 2rem;
    border: none;
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    color: #fff;
    background-color: #6482f6;
    text-align: center; }

.dark-theme {
  --background: var(--color-black-dark);
  --heading_primary_color: $color-primary;
  --heading_secondary_color: var(--color-white);
  --text_color: var(--color-white); }

.light-theme {
  --background: var(--color-white);
  --heading_primary_color: $color-primary;
  --heading_secondary_color: var(--color-black-dark);
  --text_color: var(--color-black-darkest); }
