// Primary Colors
$color-primary: #4c6ef5;
$color-primary-2: #5c7cfa;

// Secondary Colors
$color-local: #f03e3e;
$color-business: #40c057;
$color-sports: #22b8cf;
$color-tech: #be4bdb;
$color-celebrity: #fd7e14;
