.hero {
  padding: 15rem;
  padding-bottom: 5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(45rem, max-content));
  column-gap: 8rem;
  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &--para {
      font-size: 2rem;
      line-height: 1.2;
      color: var(--text_color);
      width: 75%;
      margin-top: 2rem;
    }
  }

  &__btn {
    align-self: flex-start;
    animation: slideUp 0.5s ease-out;
    margin-top: 3.2rem;
  }

  &__img {
    width: 80%;
    justify-self: center;
  }
}
