.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2.4rem;
    color: var(--text_color);
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
    letter-spacing: 0.75px;
    &:hover {
      border-bottom: 1px solid var(--text_color);
    }

    &::first-letter {
      color: $color-primary;
      font-weight: 700;
    }
  }
  &__icon.sunny {
    box-shadow: 0 0rem 0.75rem rgba(0, 0, 0, 0.075);
  }

  &__icon.moon {
    box-shadow: 0 0rem 0.75rem rgba(237, 241, 254, 0.618);
  }

  &__icon.sunny,
  &__icon.moon {
    transition: all 0.5s;
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    color: var(--text_color);
    margin: 2rem;
    border-radius: 50%;
    background-color: var(--background);
    padding: 1rem;
  }

  &__img {
    height: 10rem;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 10rem;
  }
}
