:root {
  // fonts
  --font-cardo: "Cardo", serif;
  --font-roboto: "Roboto", sans-serif;
  // for greys and blacks
  --color-white: #edf1fe;
  --color-black-darkest: #080b18;
  --color-black-dark: #0f1631;
}
